<div class="no-print">
<button class="on_click_decrease_font_size font-size-xs">A--</button>
<button class="on_click_reset_font_size font-size-m">A=</button>
<button class="on_click_increase_font_size font-size-xl">A++</button>
</div>
