@font-face {
    font-family: 'BLOKK Neue';
    src: local('BLOKKNeue-Regular'),
        url('BLOKKNeue-Regular.woff2') format('woff2'),
        url('BLOKKNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
