@import "/node_modules/@fontsource/source-sans-3/index.css";
@import "/node_modules/@fontsource/source-sans-3/700.css";
@import "/node_modules/@fontsource/source-serif-4/index.css";

:root {
    font-size: 10mm;
    font-family: "Source Serif 4", "Serif";
}

* {
    box-sizing: border-box;
    font-family: "Source Serif 4", "Serif";
}

h1 {
    font-size: 30mm;
}

.reveal {
    background-color: rgb(240, 236, 232);
}

.reveal .slides {
    text-align: left;
}

.reveal .slides :is(h1, h2, h3, h4, h5, h6) {
    text-align: center;
    font-family: "Source Sans 3", "Sans Serif";
    font-weight: 700;
}

.reveal :is(p, li) {
    font-family: "Source Serif 4", "Serif";
}